* { box-sizing: border-box; }
body {
  display: flex;
  justify-content: center;
  background-color: #01E700;
}
.case {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px;
}
.case-1 {
  width: 250px;
  height: 50px;
  background-color: #007944;
  border-radius: 15px;
  border: 6px solid black;
}
.case-2 {
  width: 250px;
  height: 50px;
  background-color: #007944;
  border-radius: 15px;
  border: 6px solid black;
}
.case-3 {
  width: 250px;
  height: 50px;
  background-color: #007944;
  border-radius: 15px;
  border: 6px solid black;
}
img {
  width: 1000px;
  height: 500px;
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
  border: 6px solid black;
  border-radius: 15px;
}
.game {
  width: 1200px;
  background-color: #004E2C;
  border-radius: 15px;
}
.texte-case {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px #0006E7;
  font-family: 'Fredoka One', cursive;
  color: #00E7E2;
}
.titre {
  color: #00E7E2;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px #0006E7;
  font-family: 'Fredoka One', cursive;
}
.titre-chapitre {
  color: #00E7E2;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #0006E7;
  font-family: 'Fredoka One', cursive;
}
.texte {
  color: #00E7E2;
  font-size: 20px;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}
